.navlink-home {
    margin-top: 4px;
    color: white;
    text-decoration: none;
}

.navlink-contact {
    margin-top: 4px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.navlink-about {
    margin-top: 4px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}